{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}

{% block content %}

    <main class="px-3">
        <h1 class="mb-3">Understand your city through data.</h1>
        <p class="lead mb-4">Smart City Insights is a data-driven platform that transforms open urban data into clear, actionable visual insights.</p>
        
        <div class="d-flex flex-column align-items-center gap-3"> 
            <form id="cityForm" action="/data" method="GET" autocomplete="off">
                
                {{ form.hidden_tag() }}
            
                <div class="autocomplete">
                    {{ form.city(id="cityInput", class="form-control", autocomplete="off") }}
            
                    <input type="hidden" id="lat" name="lat">
                    <input type="hidden" id="lon" name="lon">
                    <input type="hidden" id="bbox" name="bbox">
            
                    <ul id="suggestions" class="suggestions"></ul>
                </div>
            
                <button id="exploreBtn" type="submit" class="btn btn-primary mt-3" disabled>
                    Explore data
                </button>
            </form>
              
              </div>

    </main>

       
{% endblock %}


<!-- color icone : #00adae -->


